.backdrop{
    width: 100%;
    height: 450px;
    display: flex;
    margin-left: 5px;
    flex-wrap: wrap;
    background-size: 100%;
    
}
.bottom{
    height: 7.6rem;
    background-image: linear-gradient(180deg, transparent,rgba(37,37,37,0.61),#111);
    padding-left: 0%;
    margin-left: 0px;
}
.banner-slider{
    height: 650px !important;

    
}